  html {
    box-sizing: border-box;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #FFF;
    font-family: 'Product Sans Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }

  p, span, a {
    font-family: 'Roboto';
  }

  button > span, .button > span {
    font-family: 'Product Sans Medium Regular';
  }

  a {
    text-decoration: none !important;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  /* [type=button]{
    -webkit-appearance: none !important;
  } */
